@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Любой контент на этом сайте не является собственностью автора. Используйте ресурс на свой страх и риск.</p>
